## Round 2

In [250]:
import pandas as pd
import statistics as stats

data = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')

In [251]:
data.columns

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

In [252]:
data = data.drop(['unnamed: 0'], axis=1)

In [253]:
#Show the dataframe shape.
data.shape

(10910, 25)

In [254]:
#Standardize header names.
data.columns

Index(['customer', 'state', 'customer lifetime value', 'response', 'coverage',
       'education', 'effective to date', 'employmentstatus', 'gender',
       'income', 'location code', 'marital status', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies', 'policy type',
       'policy', 'renew offer type', 'sales channel', 'total claim amount',
       'vehicle class', 'vehicle size', 'vehicle type'],
      dtype='object')

In [255]:
data.columns = list(map(lambda x: x.lower(), data.columns))

In [256]:
#Which columns are numerical?
data._get_numeric_data()

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [257]:
#Which columns are categorical?
data.select_dtypes(['object'])

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [258]:
#Check and deal with NaN values.
data.isna().sum()

customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [259]:
round(data.isna().sum()/len(data),4)*100

customer                          0.00
state                             5.78
customer lifetime value           0.00
response                          5.78
coverage                          0.00
education                         0.00
effective to date                 0.00
employmentstatus                  0.00
gender                            0.00
income                            0.00
location code                     0.00
marital status                    0.00
monthly premium auto              0.00
months since last claim           5.80
months since policy inception     0.00
number of open complaints         5.80
number of policies                0.00
policy type                       0.00
policy                            0.00
renew offer type                  0.00
sales channel                     0.00
total claim amount                0.00
vehicle class                     5.70
vehicle size                      5.70
vehicle type                     50.25
dtype: float64

In [260]:
data['state'] = data['state'].fillna(stats.mode(data['state']))

In [261]:
data['response'] = data['response'].fillna(stats.mode(data['response']))

In [262]:
data['months since last claim'] = data['months since last claim'].fillna(round(data['months since last claim'].mean(),0))

In [263]:
data['number of open complaints'] = data['number of open complaints'].fillna(round(data['number of open complaints'].median(),0))

In [264]:
data['vehicle class'] = data['vehicle class'].fillna(stats.mode(data['vehicle class']))

In [265]:
data['vehicle size'] = data['vehicle size'].fillna(stats.mode(data['vehicle size']))

In [266]:
data['vehicle type'] = data['vehicle type'].fillna('Unknown')

In [267]:
data.isna().sum()

customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle class                    0
vehicle size                     0
vehicle type                     0
dtype: int64

In [268]:
#Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [269]:
data.dtypes

customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employmentstatus                  object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim          float64
months since policy inception      int64
number of open complaints        float64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
vehicle type                      object
dtype: object

In [270]:
data['month'] = pd.DatetimeIndex(data['effective to date']).month

In [271]:
data

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Unknown,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Unknown,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,Unknown,2
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,Unknown,1

In [272]:
data[(data['month'].isin([1,2]))]

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Unknown,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Unknown,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,Unknown,2
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,Unknown,1

In [277]:
#BONUS: Put all the previously mentioned data transformations into a function.

def transformations(data):
    print(data.shape)
    data.columns = list(map(lambda x: x.lower(), data.columns))
    print(data.columns)
    print(data._get_numeric_data())
    print(data.select_dtypes(['object']))
    
    data_dict = dict(round(data.isna().sum()/len(data),4)*100)
    
    for column, percentage in data_dict.items():
        if percentage != 0 and percentage < 50:
            if type(column)==str:
                data[column] = data[column].fillna(stats.mode(data[column]))
            else:
                data = data[column].fillna(round(file[column].mean(),0))     
        if percentage != 0 and percentage > 50:
            if type(column)==str:
                data[column] = data[column].fillna('Unknown')
            else:
                data = data[column].fillna(round(file[column].mean(),0))
    print(data.head())

    
    for i in data.loc[[0],:]:
        if i=='%m/%d/%y':
            data['month'] = pd.DatetimeIndex(data['i']).month
            data[(data['month'].isin(['1','2']))]

In [278]:
transformations(data)

(10910, 26)
Index(['customer', 'state', 'customer lifetime value', 'response', 'coverage',
       'education', 'effective to date', 'employmentstatus', 'gender',
       'income', 'location code', 'marital status', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies', 'policy type',
       'policy', 'renew offer type', 'sales channel', 'total claim amount',
       'vehicle class', 'vehicle size', 'vehicle type', 'month'],
      dtype='object')
       customer lifetime value  income  monthly premium auto  \
0                  4809.216960   48029                    61
1                  2228.525238       0                    64
2                 14947.917300   22139                   100
3                 22332.439460   49078                    97
4                  9025.067525   23675                   117
...                        ...     ...                   ...
10905             15563.369440       0                   253
10906              5259.444853   61146                    65
10907             23893.304100   39837                   201
10908             11971.977650   64195                   158
10909              6857.519928       0                   101

       months since last claim  months since policy inception  \
0                          7.0                             52
1                          3.0                             26
2                         34.0                             31
3                         10.0                              3
4                         15.0                             31
...                        ...                            ...
10905                     15.0                             40
10906                      7.0                             68
10907                     11.0                             63
10908                      0.0                             27
10909                     31.0                              1

       number of open complaints  number of policies  total claim amount  \
0                            0.0                   9          292.800000
1                            0.0                   1          744.924331
2                            0.0                   2          480.000000
3                            0.0                   2          484.013411
4                            0.0                   7          707.925645
...                          ...                 ...                 ...
10905                        0.0                   7         1214.400000
10906                        0.0                   6          273.018929
10907                        0.0                   2          381.306996
10908                        4.0                   6          618.288849
10909                        0.0                   3         1021.719397

       month
0          2
1          1
2          2
3          1
4          1
...      ...
10905      1
10906      1
10907      2
10908      2
10909      1

[10910 rows x 9 columns]
      customer       state response  coverage education effective to date  \
0      DK49336     Arizona       No     Basic   College           2/18/11
1      KX64629  California       No     Basic   College           1/18/11
2      LZ68649  Washington       No     Basic  Bachelor           2/10/11
3      XL78013      Oregon      Yes  Extended   College           1/11/11
4      QA50777      Oregon       No   Premium  Bachelor           1/17/11
...        ...         ...      ...       ...       ...               ...
10905  FE99816      Nevada       No   Premium  Bachelor           1/19/11
10906  KX53892      Oregon       No     Basic   College            1/6/11
10907  TL39050     Arizona       No  Extended  Bachelor            2/6/11
10908  WA60547  California       No   Premium   College           2/13/11
10909  IV32877  California       No     Basic  Bachelor            1/8/11

      employmentstatus gender location code marital status     policy type  \
0             Employed      M      Suburban        Married  Corporate Auto
1           Unemployed      F      Suburban         Single   Personal Auto
2             Employed      M      Suburban         Single   Personal Auto
3             Employed      M      Suburban         Single  Corporate Auto
4        Medical Leave      F      Suburban        Married   Personal Auto
...                ...    ...           ...            ...             ...
10905       Unemployed      F      Suburban        Married   Personal Auto
10906         Employed      F         Urban        Married   Personal Auto
10907         Employed      F         Rural        Married  Corporate Auto
10908         Employed      F         Urban       Divorced   Personal Auto
10909       Unemployed      M      Suburban         Single   Personal Auto

             policy renew offer type sales channel  vehicle class  \
0      Corporate L3           Offer3         Agent  Four-Door Car
1       Personal L3           Offer4   Call Center  Four-Door Car
2       Personal L3           Offer3   Call Center            SUV
3      Corporate L3           Offer2        Branch  Four-Door Car
4       Personal L2           Offer1        Branch  Four-Door Car
...             ...              ...           ...            ...
10905   Personal L1           Offer3           Web     Luxury Car
10906   Personal L3           Offer2        Branch  Four-Door Car
10907  Corporate L3           Offer1           Web     Luxury SUV
10908   Personal L1           Offer1        Branch            SUV
10909   Personal L1           Offer4           Web            SUV

      vehicle size vehicle type
0          Medsize      Unknown
1          Medsize      Unknown
2          Medsize            A
3          Medsize            A
4          Medsize      Unknown
...            ...          ...
10905      Medsize            A
10906      Medsize            A
10907      Medsize      Unknown
10908      Medsize            A
10909      Medsize      Unknown

[10910 rows x 17 columns]
  customer       state  customer lifetime value response  coverage education  \
0  DK49336     Arizona              4809.216960       No     Basic   College
1  KX64629  California              2228.525238       No     Basic   College
2  LZ68649  Washington             14947.917300       No     Basic  Bachelor
3  XL78013      Oregon             22332.439460      Yes  Extended   College
4  QA50777      Oregon              9025.067525       No   Premium  Bachelor

  effective to date employmentstatus gender  income  ... number of policies  \
0           2/18/11         Employed      M   48029  ...                  9
1           1/18/11       Unemployed      F       0  ...                  1
2           2/10/11         Employed      M   22139  ...                  2
3           1/11/11         Employed      M   49078  ...                  2
4           1/17/11    Medical Leave      F   23675  ...                  7

      policy type        policy  renew offer type  sales channel  \
0  Corporate Auto  Corporate L3            Offer3          Agent
1   Personal Auto   Personal L3            Offer4    Call Center
2   Personal Auto   Personal L3            Offer3    Call Center
3  Corporate Auto  Corporate L3            Offer2         Branch
4   Personal Auto   Personal L2            Offer1         Branch

   total claim amount  vehicle class vehicle size vehicle type month
0          292.800000  Four-Door Car      Medsize      Unknown     2
1          744.924331  Four-Door Car      Medsize      Unknown     1
2          480.000000            SUV      Medsize            A     2
3          484.013411  Four-Door Car      Medsize            A     1
4          707.925645  Four-Door Car      Medsize      Unknown     1

[5 rows x 26 columns]